/* cpb css*/
body{
	background: #FCF8E3;
}
.header{
	margin-bottom: 20px;
	text-align: center;
	background-color: #47b191;
		border-radius: 5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
-webkit-border-radius: 5px 5px 5px 5px;
}
.section_menu{
	margin: 0 auto;
}
h1 mark{
	color: #47b191;
	font-style: italic;
	font-size: 50px;
}
.option{
	margin-bottom: 50px;

}
.bordering{
	border-radius: 200px 200px 200px 200px;
-moz-border-radius: 200px 200px 200px 200px;
-webkit-border-radius: 200px 200px 200px 200px;
border: 2px solid #47b191;
}
.clearpre{
	background-color: #FCF8E3;
	text-align: left;
}
